<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=bkcabstorage;AccountKey=V/OcjQIog95H3piXRE+uPehadKU/9Q65CpkP7q0dvktvayna/sRn5BTC44+8kCgc34Ra/LOMyp7SxyMF0yGO9g==;EndpointSuffix=core.windows.net"/>
	</connectionStrings>
</configuration>